@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

img{
    width: 100%;
    display: flex;

}

a{
    text-decoration: none;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

}

.nav-logo img {
    width: 200px;        /* Defina a largura da logo */
    height: 200px;       /* Defina a altura da logo */
    border-radius: 50%;  /* Torna a imagem circular */
    object-fit: cover;   /* Ajusta a imagem para cobrir o contêiner */
}

.nav-links{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    list-style: relative;
    padding-bottom: 0.75rem;
    color: #fff;

}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease ;
}

.link a:hover::after{
    width: 70%;
}

.Container{
    padding: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0;
    flex-direction: column;
    color: #fff;
}

.Container i {
    font-size: 23px;
}

.social-media a {
    color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius:100%;
    transition: all 0.3s ease;
}

.social-media a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

@media (width < 900px){
    .nav-links{
        display: none;
    }
}

@media (width < 600px){
    nav {
        padding: 1rem;
    }
    .nav-logo img {
        width: 120px;
        height: 120px;
    }
    .nav-logo img {
        width: 120px;
        height: 120px;
    }
    .Container h1 {
        font-size: 28px;
    }

    .Container h2 {
        font-size: 22px;
    }

}
